/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/

body{
  background-color: #bdc3c7;
  padding: 20px 20px;
}

.profil {
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdc3c7;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 
  
  }

.hlavicka{
  position: relative;
  margin: 0px 0px;
}

.foto{
    margin: 0px 0px;
    max-width: 280px;
}

.logo{
  border-radius: 50%;
  background-color: #b92e81;
  margin: 0px 0px;
  position: absolute;
  right: 20px;
  top: 160px;
}

.jmeno{
font-family: 'Montserrat', sans-serif;
color: white;
}

.obsah{
  background-color: #31363b;
  padding: 20px 20px;
  margin: 0px 0px;

}

a:link{text-decoration:none;}

.odkazy{
  background-color: #31363b;
  font-family: 'Montserrat', sans-serif;
  color: #bdc3c7;
  display: flex;
  margin: 0 0;
  padding: 20px 20px 0px 20px;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-between;
}

li:hover{
  background-color: #e74c3c;
}
.portfolio{
  padding: 10px 10px;
  margin: 0 0;
  display: flex;
  align-content: center;
  border-color: #3f464d;
  border-style: solid;
  border-right: 1px;
  border-left: 1px;

}

li:hover{
  background-color: #3b5998;
}
.facebook{
  padding: 10px 10px;
  display: flex;

}
li:hover{
  background-color: #1da1f2;
}

.twitter{
  padding: 10px 10px;
  display: flex;
 

}